body {
            font-family: Arial, sans-serif;
            margin: 30px;
            background: #1c61ac67;
        }

        h2 {
            margin-bottom: 20px;
            text-align: center;
            font-size: 100px;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        input[type="text"] {
            padding: 8px;
            width: 250px;
        }

        button {
            padding: 8px 15px;
            border: none;
            background: #41c4d2db;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background: #57a9a852;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: rgba(233, 251, 255, 0.967);
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background: #333;
            color: #f2f2f2d8;
        }

        .actions button {
            margin-right: 5px;
            background: #007bff;
        }

        .delete-btn {
            background: #d9534f !important;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }

        .modal-content {
            background: white;
            padding: 20px;
            width: 350px;
            margin: 10% auto;
            border-radius: 5px;
        }

        .modal input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
        }

        .close {
            float: right;
            cursor: pointer;
        }